# Ignore virtual environment
.venv/

# Ignore environment variables file
.env

# Ignore Python bytecodes and other cache files
__pycache__/
*.pyc
cache/

# Ignore other unnecessary files
*.log
*.csv
*.dat
.DS_Store
.ipynb_checkpoints/